---
import LibrosItem from "./LibrosItem.astro";
import { getCollection } from 'astro:content';



const posts = await getCollection("libros")
console.log(posts);


---

<div class="bg-white w-full lg:max-w-[85vw] h-[90vh] py-10 m-auto grid place-items-center">

    <h1 class="uppecase text-[60px] text-green-900 text-center font-bold">Libros y Documentos</h1>
    <p class="text-center max-w-[40vw] m-auto">Eiusmod adipisicing nostrud voluptate ipsum eu qui enim aute cupidatat ea magna. Laborum ipsum reprehenderit cupidatat incididunt velit minim consectetur.</p>
    <div class="w-full grid grid-cols-3 place-items-center mt-20">
        {
          posts.map(post=>(
          <LibrosItem slug={post.slug} title={post.data.title} heroImg={post.data.heroImg} description={post.data.description} pubDate={post.data.pubDate} category={post.data.category}/>
          ))
        }
    </div>
    <button class="mt-10 text-center uppercase px-8 py-2 bg-green-900 text-[30px] text-white rounded-[50px]" type="button">Leer más</button>
</div>